<a href="https://colab.research.google.com/github/dareaus/TTP23/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

In [ ]:
print("hi there")
#use the print() method to print "hi there" to the user

hi there

In [ ]:
print("there are two types of slashes:\\ and /")
#\ is an esape character so only one is printed

there are two types of slashes:\ and /

In [ ]:
print("\n\tthis is a tabbled line\nthis is a regular line")
#\n is new line, \t is indent

	this is a tabbled line
this is a regular line

In [ ]:
print("first name" + " last name")
#+ lets you combine strings

first name last name

#Variables

In [2]:
dogs = 3
cats = "many fluffy cats"
#no type declaration is needed

In [3]:
dogs
#output value of dogs

3

In [4]:
cats
#output value of cats

'many fluffy cats'

In [5]:
type(dogs)
#type of dogs is int

int

In [ ]:
type(cats)
#type of cats is string

str

In [ ]:
hi = "hello"
name = " john"
print(hi + name)
#different types cannot be concatenated

hello john

In [ ]:
moreDogs = 5
print(dogs + moreDogs)
#int variables can be added

8

In [ ]:
price = 19.99
amount = 3

In [ ]:
print(price * amount)
#int variables can have math operations done on them

59.97

In [ ]:
#Variable Re-assignment
dogs = "new value"
print(dogs)
#variables can be re-assigned with different types

new value

In [ ]:
cats, dogs, rabbits = 2, 5, 'cute'
#multiple variables can be assigned at once

In [ ]:
print(dogs)
#print dogs

5

#More Strings

##Indexing

In [ ]:
greeting = 'hello world!'
#assign string to greeting

In [ ]:
greeting
#print string in greeting

'hello world!'

In [ ]:
print(greeting[4])
#print 5th character in greeting

o

In [ ]:
newString = 'this is a sentence'
print(newString[3])
print(newString[5])
#print characters 4 and 6

s
i

In [ ]:
len(greeting)
#get length of string

12

In [ ]:
greeting[11]
#get last character in greeting

'!'

In [ ]:
greeting[-1]
#get last character in greeting

'!'

##String Formatting

In [ ]:
price = 59.99
#set int to price

In [ ]:
message = 'the product costs ' + str(price) + ' dollars'
#convert price from int to string to concatenate

In [ ]:
message
#print message

'the product costs 59.99 dollars'

###the .format() method

In [ ]:
msg = 'the product costs {} dollars'.format(price)
#puts price into {}

In [ ]:
msg
#print msg

'the product costs 59.99 dollars'

In [ ]:
msg2 = 'for {} products at the price of {}, the total will be: {}'
#multiple {} can be used

In [ ]:
amount = 3
total = amount * price
#set amount and total variables

In [ ]:
print(msg2.format(amount, price, total))
#print msg2 with the 3 variables, shows them in order

for 3 products at the price of 59.99, the total will be: 179.97

In [ ]:
msg3 = 'for {2} products at the price of {0}. the total is {1}'
#assign the order for msg3

In [ ]:
print(msg3.format(price, total, amount))
#print msg3

for 3 products at the price of 59.99. the total is 179.97

###the f-string method

In [ ]:
price = 19.99
items = 3
#assign ints to price and items

In [ ]:
msg = f'this individual product is {price}'
#alternative format for {}

In [ ]:
msg
#print msg

'this individual product is 19.99'

In [ ]:
msg2 = f"the total for your purchase is {price * items}"
#multiple {} for alternative format

In [ ]:
msg2
#print msg2

'the total for your purchase is 59.97'