<a href="https://colab.research.google.com/github/dareaus/TTP23/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

In [ ]:
print("hi there")
#use the print() method to print "hi there" to the user

hi there

In [ ]:
print("there are two types of slashes:\\ and /")
#\ is an esape character so only one is printed

there are two types of slashes:\ and /

In [ ]:
print("\n\tthis is a tabbled line\nthis is a regular line")
#\n is new line, \t is indent

	this is a tabbled line
this is a regular line

In [ ]:
print("first name" + " last name")
#+ lets you combine strings

first name last name

#Variables

In [ ]:
dogs = 3
cats = "many fluffy cats"
#no type declaration is needed

In [ ]:
dogs
#output value of dogs

3

In [ ]:
cats
#output value of cats

'many fluffy cats'

In [ ]:
type(dogs)
#type of dogs is int

int

In [ ]:
type(cats)
#type of cats is string

str

In [ ]:
hi = "hello"
name = " john"
print(hi + name)
#different types cannot be concatenated

hello john

In [ ]:
moreDogs = 5
print(dogs + moreDogs)
#int variables can be added

8

In [ ]:
price = 19.99
amount = 3

In [ ]:
print(price * amount)
#int variables can have math operations done on them

59.97

In [ ]:
#Variable Re-assignment
dogs = "new value"
print(dogs)
#variables can be re-assigned with different types

new value

In [ ]:
cats, dogs, rabbits = 2, 5, 'cute'
#multiple variables can be assigned at once

In [ ]:
print(dogs)
#print dogs

5

#More Strings

##Indexing

In [ ]:
greeting = 'hello world!'
#assign string to greeting

In [ ]:
greeting
#print string in greeting

'hello world!'

In [ ]:
print(greeting[4])
#print 5th character in greeting

o

In [ ]:
newString = 'this is a sentence'
print(newString[3])
print(newString[5])
#print characters 4 and 6

s
i

In [ ]:
len(greeting)
#get length of string

12

In [ ]:
greeting[11]
#get last character in greeting

'!'

In [ ]:
greeting[-1]
#get last character in greeting

'!'

##String Formatting

In [ ]:
price = 59.99
#set int to price

In [ ]:
message = 'the product costs ' + str(price) + ' dollars'
#convert price from int to string to concatenate

In [ ]:
message
#print message

'the product costs 59.99 dollars'

###`.format()` method

In [ ]:
msg = 'the product costs {} dollars'.format(price)
#puts price into {}

In [ ]:
msg
#print msg

'the product costs 59.99 dollars'

In [ ]:
msg2 = 'for {} products at the price of {}, the total will be: {}'
#multiple {} can be used

In [ ]:
amount = 3
total = amount * price
#set amount and total variables

In [ ]:
print(msg2.format(amount, price, total))
#print msg2 with the 3 variables, shows them in order

for 3 products at the price of 59.99, the total will be: 179.97

In [ ]:
msg3 = 'for {2} products at the price of {0}. the total is {1}'
#assign the order for msg3

In [ ]:
print(msg3.format(price, total, amount))
#print msg3

for 3 products at the price of 59.99. the total is 179.97

###f-string method

In [ ]:
price = 19.99
items = 3
#assign ints to price and items

In [ ]:
msg = f'this individual product is {price}'
#alternative format for {}

In [ ]:
msg
#print msg

'this individual product is 19.99'

In [ ]:
msg2 = f"the total for your purchase is {price * items}"
#multiple {} for alternative format

In [ ]:
msg2
#print msg2

'the total for your purchase is 59.97'

###string functions

In [ ]:
dir(msg)
#show available functions for objects

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
msg
#print msg

'this individual product is 19.99'

In [ ]:
msg = "hello my name is Bob"
#reassign msg

In [ ]:
words = msg.split(" ")
#split string in array with the separator

In [ ]:
print(words)
#print words

['hello', 'my', 'name', 'is', 'Bob']

In [ ]:
elements = msg.split("e")
#split message every e

In [ ]:
print(elements)
#print elements

['h', 'llo my nam', ' is Bob']

In [ ]:
print(msg.upper())
#print everything uppercase

HELLO MY NAME IS BOB

In [ ]:
print(msg.lower())
#print everything lowercase

hello my name is bob

###`input()` method

In [ ]:
#data = input('what is your name: ')
#print(f'Hello {data}')
#assign input and print hello with the input

what is your name: Bob
Hello Bob

In [ ]:
#type(data)
#input() gives a string

str

In [ ]:
#print(data)
#print data

Bob

In [ ]:
#num = int(input('enter a number: '))
#print(num)
#typecast input to int

enter a number: 23
23

In [ ]:
#type(num)
#print type of num

int

In [ ]:
#Greeting page with a script
#name = input('Hey, what is your name? ')
#age = input('How old are you? ')
#hobby = input('What is your favorite hobby? ')
#print(f'Hello {name}, I see that you are {age} years old and you like {hobby}')

Hey, what is your name? Bob
How old are you? 23
What is your favorite hobby? reading
Hello Bob, I see that you are 23 years old and you like reading

#Numbers

In [ ]:
cats = 7
money = -35.5
x = 2+5j
message = "hello alice!"
#asssign variables

In [ ]:
print (type(cats))
print (type(money))
print (type(x))
print (type(message))
#print types

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

##Conversions

In [ ]:
value = 3.5
convert = int(value)
print(convert)
print(type(convert))
#int loses decimal

3
<class 'int'>

In [ ]:
num = int('25')
print(num)
print(type(num))
#print num and type of num

25
<class 'int'>

In [ ]:
num2 = 'twenty'
print(len(num2))
#print length of num2

6

##Operators

###modulus operator

In [ ]:
print(259/4)
#print 259/4

64.75

In [ ]:
print (259%4)
#print remainder of 259/4

3

###power operator

In [ ]:
print(9**4)
#print 9 to the fourth power

6561

###floor operator

In [ ]:
print(13//4)
#rounds down to nearest whole number

3

###assignment operators

In [ ]:
x = 9
#assign 9 to x

In [ ]:
x += 1
x -= 1
x *= 1
x /= 1
#same thing as x = x operator 1

In [ ]:
num1 = 2
num2 = 3
print(str(num1+num2))

5

###comparison operators

In [ ]:
x, y = 9, 25
#assign ints to x and y

In [ ]:
print (x == y)
#print if x equals y

False

In [ ]:
print (x != y)
#print if x is not equal to y

True

In [ ]:
print ((x>y),(x<y),(x>=y),(x<=y))
#print greater than, less than, greater than or equal to, less than or equal to

False True False True

###logical operators

In [ ]:
x, y = 9, 25
#assign ints to x and y

In [ ]:
print (x > 5 and y < 30)
#true if both are true

True

In [ ]:
print ( x > 5 or y > 30)
#false if both are false

True

In [ ]:
print(not(x>5))
#gives the opposite

False

In [ ]:
print("cat" is "cat")
#same as
print("cat" == "cat")

True
True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-160-ea7333730169>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("cat" is "cat")

In [ ]:
fruit = "banana"
print("na" in fruit)
print("na" not in fruit)
#prints if something is in another container

True
False

# Collection Data Types

## Lists

In [ ]:
numbers = [3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
print(numbers)
print(numbers[1])
print(numbers[-1])
#list of number
#print list, second element, and last element

[3, 7, 5, 4, 7, 5, 6, 3, 3, 3, 3]
7
3

In [ ]:
names = ["Alice", "Bob", "Carol", "Dan"]
print(names[0])
print(names[2])
#list of strings
#print first elment and third element

Alice
Carol

In [ ]:
print(names[0][1])
#print second character of first string

l

In [ ]:
print(names[-1])
print(names[-3])
#print last element and third element from the back

Dan
Bob

In [ ]:
print(names[1:3])
#print second and third element
#excludes number after :

['Bob', 'Carol']

In [ ]:
print(names[0:4])
#print elements from first to last

['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
print(names[0:-1])
#print all elements except the last

['Alice', 'Bob', 'Carol']

In [ ]:
print(names[0:])
#print all elements starting from the index before :

['Alice', 'Bob', 'Carol', 'Dan']

In [ ]:
string = 'olivia'
#set string

In [ ]:
string[2]
#get third character of string

'i'

In [ ]:
# string[2] = 5
# strings are immutable, so this would be invalid

In [ ]:
names = ['Alice', 'Bob', 'Carol', 'Dan']
print(names)
names[1] = 'Bobby'
print(names)
#lists are mutable, so elements inside can be changed

['Alice', 'Bob', 'Carol', 'Dan']
['Alice', 'Bobby', 'Carol', 'Dan']

#### practice example

In [ ]:
#my_list = input('Enter elements of a list separated by space ')
#_list = my_list.split()
#print('list: ', _list)
#make a list of user input

#### nested lists

In [ ]:
#set a list of lists
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#print matrix
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#print third element of second list
print(matrix[1][2])

6

In [ ]:
#print first element of third list
print(matrix[2][0])

7

In [ ]:
#set matrix
#print matrix
#print first element of the second list in the first list
matrix = [[[1, 2], [3, 4, 6, 4, 6]], [[5, 6], [7, 8]]]
print(matrix)
print(matrix[0][1][0])

[[[1, 2], [3, 4, 6, 4, 6]], [[5, 6], [7, 8]]]
3

In [ ]:
#print length of matrix
#print length of second list in the first list
print(len(matrix))
print(len(matrix[0][1]))

2
5

#### list functions

In [ ]:
#set list
#print length of list
pets = ['cat', 'dog', 'parrot']
print(len(pets))

3

In [ ]:
#add fish to the list
print(pets)
pets.append('fish')
print(pets)

['cat', 'dog', 'parrot']
['cat', 'dog', 'parrot', 'fish']

In [ ]:
#see available functions for pets
dir(pets)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#insert hamster at the second list
pets.insert(1, 'hamster')
print(pets)

['cat', 'hamster', 'dog', 'parrot', 'fish']

In [ ]:
#print if cat is in pets
print('cat' in pets)

True

In [ ]:
#print if tiger is in pets
print('tiger' in pets)

False

In [ ]:
#remove fish from pets
pets.remove('fish')

In [ ]:
#print pets
pets

['cat', 'hamster', 'dog', 'parrot']

In [ ]:
#remove fourth element from pets
pets.remove(pets[3])

In [ ]:
#print pets
pets

['cat', 'hamster', 'dog']

In [ ]:
#remove last element and returns it
pets.pop()

'dog'

In [ ]:
#remove first element and returns it
pets.pop(0)

'cat'

In [ ]:
#set list
pets = ['cat', 'dog', 'parrot']

In [ ]:
#print list
pets

['cat', 'dog', 'parrot']

In [ ]:
#delte second element of list
del pets[1]

In [ ]:
#print pets
pets

['cat', 'parrot']

In [ ]:
#empty pets list
pets.clear()

In [ ]:
#print pets
pets

[]

In [ ]:
#sets pets to null
pets = None

#### iterators

In [ ]:
#set string to my_cat
#initiate iterator
my_cat = "Fluffy"
my_iterator = iter(my_cat)

In [ ]:
#print next character with iterator
print(next(my_iterator))

F

In [ ]:
#print next character with iterator
print(next(my_iterator))

l

In [ ]:
#print next character with iterator
print(next(my_iterator))

u

## Tuples

In [ ]:
#tuples can have different data types
#they are immutable
dinner = ('chicken', 'fries', 18)
print(dinner)
print(type(dinner))

('chicken', 'fries', 18)
<class 'tuple'>

In [ ]:
#add element to tuple
#comma is needed for one element
breakfast = ('eggs', )
print(breakfast)
print(type(breakfast))

('eggs',)
<class 'tuple'>

In [ ]:
#new tuple
lunch = ()
print(lunch)
print(type(lunch))

()
<class 'tuple'>

In [ ]:
#functions for tuple
dir(dinner)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#get second and last element of tuple
my_desk = ("laptop", "mouse", "paper", "pen")
print(my_desk[1])
print(my_desk[-1])

mouse
pen

In [ ]:
#get second to fourth elements of tuple exclusive
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [ ]:
#print everything after second element
print(my_desk[1:])

('mouse', 'paper', 'pen')

In [ ]:
#set new tuple with section of old one
my_desk = ("laptop", "mouse", "paper", "pen")
new_desk = my_desk[1:3]
print(new_desk)
print(type(new_desk))

('mouse', 'paper')
<class 'tuple'>

In [ ]:
#set new tuple with additional element
#+ is used to add new element
new_desk = my_desk + ("coffee", )
print(new_desk)
print(type(new_desk))

('laptop', 'mouse', 'paper', 'pen', 'coffee')
<class 'tuple'>

In [ ]:
#convert tuple to list
my_desk_list = list(my_desk)

In [ ]:
#append element to list and convert it back to tuple
my_desk_list.append("phone")
new_desk = tuple(my_desk_list)
print(new_desk)
print(type(new_desk))

('laptop', 'mouse', 'paper', 'pen', 'phone')
<class 'tuple'>

In [ ]:
#print tuple
new_desk

('laptop', 'mouse', 'paper', 'pen', 'phone')

In [ ]:
type(new_desk)

tuple

In [ ]:
# new_desk.append('pencil')
new_desk = my_desk + ("pencil", )

#### tuple usage cases

In [ ]:
#used for databases since they are immutable
db = ('Oracle', 'SQL')

In [ ]:
new_db = db + ('username', 'password')
print(new_db)
print(type(new_db))

('Oracle', 'SQL', 'username', 'password')
<class 'tuple'>

In [ ]:
friend1 = ('Alex', 25, False)
friend2 = ('Diane', 23, False)
friend3 = ('Michael', 32, True)

In [ ]:
print(friend1)
print(friend2)
print(friend3)

('Alex', 25, False)
('Diane', 23, False)
('Michael', 32, True)

In [ ]:
#set friend 2 to erica instead of diane
friend2 = ("Erica",) + friend2[1:]
print(friend2)
print(type(friend2))

('Erica', 23, False)
<class 'tuple'>

#### tuple functions

In [ ]:
#length function
my_desk = ('laptop', 'mouse', 'paper', 'pen')
print(len(my_desk))

4

In [ ]:
del(my_desk)
#deletes my_desk

In [ ]:
#count number of elements
digits = (3, 7, 5, 6, 3, 5, 7, 6, 3, 2, 8, 6, 3, 5)
print(digits.count(3))
print(digits.count(5))

4
3

In [ ]:
#print element at the index
print(digits.index(8))
print(digits.index(7))

10
1

## Sets

In [ ]:
#should not use {} to declare set
# convert it from tuple instead
days = ("Mon", "Tue", "Wed", "Thu", "Fri", "Tue", "Tue")

In [ ]:
type(days)

tuple

In [ ]:
print(days)

('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Tue', 'Tue')

In [ ]:
days = set(days)

In [ ]:
days

{'Fri', 'Mon', 'Thu', 'Tue', 'Wed'}

In [ ]:
type(days)

set

In [ ]:
#functions for set
dir(days)

#### updating sets

In [ ]:
#use add to add single element
days = {"Mon", "Tue", "Wed"}
days.add("Thu")
print(days)

{'Thu', 'Mon', 'Tue', 'Wed'}

In [ ]:
#update to add list
days.update(['Fri', 'Sat', 'Tue'])
print(days)

{'Tue', 'Mon', 'Thu', 'Wed', 'Fri', 'Sat'}

In [ ]:
#remove element
days.remove('Mon')
print(days)

{'Tue', 'Thu', 'Wed', 'Fri', 'Sat'}

In [ ]:
#remove first element
days.pop()
print(days)

{'Thu', 'Wed', 'Fri', 'Sat'}

In [ ]:
#empty set
days.clear()
print(days)

set()

In [ ]:
days

set()

In [ ]:
# del days
# print(days)

## Dictionaries

In [ ]:
#set dictionary
my_cat = {'name': 'Fluffy', 'age': 2,'color': 'black'}

In [ ]:
#check type
type(my_cat)

dict

In [ ]:
#functions for set
dir(my_cat)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#print value for key
print(my_cat['name'])

Fluffy

In [ ]:
#print value for key
print(my_cat.get('age'))

2

In [ ]:
#print all values
print(my_cat.values())

dict_values(['Fluffy', 2, 'black'])

In [ ]:
#print all keys
print(my_cat.keys())

dict_keys(['name', 'age', 'color'])

In [ ]:
#print all key value paris
my_cat

{'name': 'Fluffy', 'age': 2, 'color': 'black'}

In [ ]:
#print all items
print(my_cat.items())

dict_items([('name', 'Fluffy'), ('age', 2), ('color', 'black')])

In [ ]:
#print if something is in dict
print('name' in my_cat)

True

In [ ]:
#print if something is in dict
print('fluffyness' in my_cat)

False

#### updating dictionaries functions

In [ ]:
#add new key value pair
print(my_cat)
my_cat['gender'] = 'male'
print(my_cat)

{'name': 'Fluffy', 'age': 2, 'color': 'black'}
{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [ ]:
#print pairs in dict
my_cat

{'name': 'Fluffy', 'age': 2, 'color': 'black', 'gender': 'male'}

In [ ]:
#remove last pair
my_cat.pop('color')
print(my_cat)

{'name': 'Fluffy', 'age': 2, 'gender': 'male'}

In [ ]:
#remove specific pair
my_cat.popitem()
print(my_cat)

{'name': 'Fluffy', 'age': 2}

In [ ]:
#empty set
# my_cat.clear()
# print(my_cat)

In [ ]:
#delete specific pair
# del my_cat['age']
# print(my_cat)

In [ ]:
#change value of key
my_cat['name'] = 'Fluffer'
print(my_cat)

{'name': 'Fluffer', 'age': 2}

#### nesting dictionaries

In [ ]:
#dictionaries can be nested
family = {
    "child1": {
        'name': 'Alex',
        'year': 2004
    },

    'child2': {
        'name': 'Monica',
        'year': 2007
    }
}

In [ ]:
#print out nested dict
family

{'child1': {'name': 'Alex', 'year': 2004},
 'child2': {'name': 'Monica', 'year': 2007}}

#Conditionals

##`if` statement

In [ ]:
night = True
#set night to true

In [ ]:
type(night)
#boolean type

bool

In [ ]:
if (night):
  print("sleep")
else:
  print("stay up")
print("hi this is out of the loop")
#if night is true, sleep
#else if night is not true, stay up
#prints "hi this is out of the loop" regardless since it is out of the loop

sleep
hi this is out of the loop

In [ ]:
a, b, c = 100, 50, 20
if a > b and b > c:
  print(f"{a} greater than {c}")
#print a greater than c if both are true

100 greater than 20

In [ ]:
data = input("do you have car keys? (yes/no) ")
if data.lower() == "yes":
  print("starting the car")
else:
  print("car cannot start without the keys")
#if statement with user input

do you have car keys? (yes/no) yes
starting the car

###nested `if` statement

In [ ]:
pet_store = ['cat', 'dog', 'rabbit']
has_cat_food = True

if 'cat' in pet_store:
  print("they have a cat")
  if has_cat_food:
    print("buying cat and cat food")
  else:
    print("buying only a cat")

else:
  print("ask for the store to get a cat")
#nest if statement

they have a cat
buying cat and cat food

###`elif` statement

In [ ]:
age = 23

if age < 18:
  print("you are a minor")
elif age < 21:
  print("you cant drink yet")
else:
  print("you are old")
#elif = else if, keeps going until else if above if/elif are false

###shorthand `if` statement

In [ ]:
a, b = 50, 20
if a > b: print("a > b")
#if something, do something

a > b

In [ ]:
print("a > b") if a > b else print("b > a")
#do something if something else do something else

a > b

In [ ]:
max = a if a > b else b
print(max)
#same as above

50

###`pass` keyword

In [ ]:
has_cat = False
if has_cat:
  pass
else:
  print("get a cat")
#pass does nothing

get a cat

In [ ]:
has_dog = True
if has_dog:
  print("cool")
else:
  pass
#skip codeblock if false

cool

###examples

In [ ]:
import random
nb = random.randint(0, 100)
print(f"number {nb} is even") if nb%2 == 0 else print(f"number {nb} is odd")
#import random and use random number generator from 0 from 100

number 50 is even

In [ ]:
numb = int(input("enter a number from 0-100: "))
print(f"number {num} is even") if numb%2 == 0 else print(f"Number {numb} is odd")
#user input

enter a number from 0-100: 55
Number 55 is odd

In [ ]:
#problem 1:
cart = ["nails", "powerdrill", "wooden boards"]
if "hammer" in cart:
  print("there is a hammer in your cart")
else:
  print("there is no hammer in your cart")

there is a hammer in your cart

In [ ]:
#problem 2:
cart = ["nails", "powerdrill", "wooden boards", "wooden boards"]
if len(cart) > len(set(cart)):
  print("there are duplicate items in your cart")
else:
  print("there are no duplicate items in your cart")

there are duplicate items in your cart

In [ ]:
#problem 3:
address = "524 W 59th St, New York, NY 10019"
response = input(f"are you at this address: {address}? yes or no: ")
if response.lower() == "yes":
  print("great we will meet shortly")
else:
  print("please get here soon")

are you at this address: 524 W 59th St, New York, NY 10019? yes or no: no
please get here soon

In [ ]:
#problem 4:
#set variables
client_funds, price, client_products = 110, 50, 0
if client_funds >= price: #if client_funds is greater than or equal to price
    #buy the max number of products and set it to the products variable
    client_products += client_funds // price
    #get the remainder and set it to client_funds
    client_funds %= price
    #print the number of products the client has
    print(f"You have {client_products} product(s)")
    #print the amount of client_funds the client has
    print(f"You have {client_funds}$ left")
    # continue purchase flow
else: #if the client_funds is lesser than the price
    #print a string telling the client they have insufficient funds
    print("You have insufficient funds")

# Loops

##`for` loop

In [ ]:
#cycle through the list and print them out
animals = ['cat', 'dog', 'horse']
for animal in animals:
    print(f"There is a {animal}")

There is a cat
There is a dog
There is a horse

In [ ]:
#print everything in uppercase
for letter in 'pineapple':
    print(letter.upper())

P
I
N
E
A
P
P
L
E

In [ ]:
#print every other number from 0 to 20
for number in range(0, 20, 2):
    print(f"{number} is an even number")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number

#### `break` and `continue`

In [ ]:
#break out of loop with break
for number in range(0, 20, 2):
    print(f"{number} is an even number")
    if number == 10:
        print("On ho! Not 10")
        break
print("Next steps in out code")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
On ho! Not 10
Next steps in out code

In [ ]:
#continue the for loop but skip everything after in that iteration
for number in range(0, 20, 2):
    if number == 10:
        print("We are not executing 10")
        continue
    print(f"{number} is an even number")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
We are not executing 10
12 is an even number
14 is an even number
16 is an even number
18 is an even number

#### practice

In [ ]:
#print something ten times
for i in range(0, 10):
    print("Hello for loop")

Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop

In [ ]:
#add the numbers from 0 to 101 excluding the ones that are divisible by 10
sum = 0
for number in range(0, 101):
    if number % 10 == 0:
        continue
    sum += number
print(f"The sum is {sum}")

The sum is 4500

In [ ]:
#set dictionary and print them out
customers = {
    'Alice': 4,
    'Judy': 8,
    'Anna': 6
}
for customer in customers:
    print("{} has made {} purchases".format(customer, customers[customer]))

Alice has made 4 purchases
Judy has made 8 purchases
Anna has made 6 purchases

#### using `else` with `for` loops

In [ ]:
numbers1 = [1, 3, 9, 5, 7, 3]
numbers2 = [2, 8, 6, 2, 4, 10]

for number in numbers1:
    if number % 2 == 0:
      print("List contains at least 1 even number")
      break
else:
    print("The list does not contain any even numbers")
#does else if none are true

#### nested loops

In [ ]:
#prints x * y for all possibles combinations from 0 to 5
for x in range(6):
    for y in range(6):
        print(f"{x} * {y} = {x * y}")

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [ ]:
#print all coordinates from 0 to 4
size = 5
for x in range(size):
    for y in range(size):
        print(f"{x},{y}\t\t", end='')
    print()

0,0		0,1		0,2		0,3		0,4
1,0		1,1		1,2		1,3		1,4
2,0		2,1		2,2		2,3		2,4
3,0		3,1		3,2		3,3		3,4
4,0		4,1		4,2		4,3		4,4

In [ ]:
#print heart emoji if x+y is even or happy emoji if x+y is odd
#repeat x*y times, which is 25 times
for x in range(size):
    for y in range(size):
        if (x + y) % 2:
            print("\U0001F600\t", end='')
        else:
            print("\U0001F60D\t", end='')
    print()

##`while` loop

In [ ]:
#keep repeating while i < 6
i = 0
while i < 6:
    print(i)
    i += 1

0
1
2
3
4
5

In [ ]:
# keep repeating while pieces_placed < puzzle_pieces
puzzle_pieces = 20
pieces_placed = 0

while pieces_placed < puzzle_pieces:
    pieces_placed += 1
    print(f"Piece {pieces_placed} placed")

Piece 1 placed
Piece 2 placed
Piece 3 placed
Piece 4 placed
Piece 5 placed
Piece 6 placed
Piece 7 placed
Piece 8 placed
Piece 9 placed
Piece 10 placed
Piece 11 placed
Piece 12 placed
Piece 13 placed
Piece 14 placed
Piece 15 placed
Piece 16 placed
Piece 17 placed
Piece 18 placed
Piece 19 placed
Piece 20 placed

#### using `else` with `while` Loops

In [ ]:
#keep repeating while i < 10 and prints else statement if no if statements are true
i = 1
while i < 10:
    i += 3
    if i % 2 == 0:
        print("Sequence contains an even number")
        break
else:
    print("Sequence does not contain an even number")

Sequence contains an even number

#### practice

In [ ]:
#print hello ten times
i = 0
while i < 10:
    i += 1
    print(f"{i}. Hello while loop")

1. Hello while loop
2. Hello while loop
3. Hello while loop
4. Hello while loop
5. Hello while loop
6. Hello while loop
7. Hello while loop
8. Hello while loop
9. Hello while loop
10. Hello while loop

In [ ]:
#print all the elements in the list
cats = ['Tigger', 'Smokey', 'Sassy', 'Patch', 'Sammy']
i = 0
while i < len(cats):
    print(f"Hello {cats[i]}")
    i += 1

Hello Tigger
Hello Smokey
Hello Sassy
Hello Patch
Hello Sammy

In [ ]:
#print all the factorials from 0 up to the user input number
number = int(input("Please enter a number:\n"))
factorial = 1
i = 1
while i <= number:
    factorial *= i
    i += 1
print(f"{number}! = {factorial}")

Please enter a number:
3
3! = 6

In [ ]:
#print numbers from 0 until i >= 10
i = 0
while True:
    print(i)
    i += 1
    if i >= 10:
        break

0
1
2
3
4
5
6
7
8
9

#Functions

In [ ]:
def say_hi():
  print("hi there")
#define function

In [ ]:
say_hi()
#call function

hi there

In [ ]:
for i in range(3):
  say_hi()
#say hi 3 times

hi there
hi there
hi there

In [ ]:
def print_numbers():
  for i in range(10):
    print(f"{i}", end=' ')
#print numbers from 0 - 9

In [ ]:
print_numbers()
#call the function

0 1 2 3 4 5 6 7 8 9

In [ ]:
number = int(input("please enter a number: "))
def multiply():
  print(f"{number} * 17 = {number * 17}")

multiply()
#print a number * 17

please enter a number: 3
3 * 17 = 51

##function parameters

In [ ]:
number = (int(input("please enter a number: ")))
def multiply(number):
  print(f"{number} * 17 = {number * 17}")
multiply(number)
#pass arguments into multiply function

please enter a number: 3
3 * 17 = 51

In [ ]:
def multiply(number) -> int:
  print((f"{number} * 17 = {number * 17}"))
multiply(3)
#converts input into int

3 * 17 = 51

In [ ]:
def say_hi(name, times):
  for i in range(times):
    print(f"hi there {name}")
say_hi("sarah", 5)
#print name 5 times

hi there sarah
hi there sarah
hi there sarah
hi there sarah
hi there sarah

In [ ]:
def capitalize(message, amount = 1):
  new_message = ""
  for i in range(amount):
    new_message += message[i].upper()
  new_message += message[amount:]
  print(new_message)

capitalize("hi there")
#capitalize letters with a default value of amount so it is not needed.

Hi there

##`return` keyword

In [ ]:
def square(number):
  return number * number
square(3)
#square a number

9

In [ ]:
for i in range(10):
  print(square(i))
#square numbers from 0 - 9

0
1
4
9
16
25
36
49
64
81

In [ ]:
def goodbye(name):
  if name[0].upper() == "A":
    return f"Adios {name}"
  elif name[0].upper() == "B":
    return f"Bye {name}"
  elif name[0].upper() == "C":
    return f"Ciao {name}"
  else:
    return f"Goodbye {name}"
goodbye("sir")
#print different goodbyes based on name

'Goodbye sir'

##practice

In [ ]:
def add(num1, num2):
  print(f"Addition: {num1} + {num2} = {num1 + num2}")

In [ ]:
def subtract(num1, num2):
  print(f"Subtraction: {num1} - {num2} = {num1 - num2}")

In [1]:
def division(num1, num2):
  if (num2 != 0):
    print(f"Division: {num1} / {num2} = {num1 / num2}")
  else:
    print("Division: ERROR, division by 0")
#only divide if num2 != 0

In [ ]:
def multiply(num1, num2):
  print(f"Multiplication: {num1} * {num2} = {num1 * num2}")

In [ ]:
def exponentiate(num1, num2):
  print(f"Exponentiation: {num1} ^ {num2} = {num1 ** num2}")

In [ ]:
def calculate(num1, num2):
  add(num1, num2)
  subtract(num1, num2)
  division(num1, num2)
  multiply(num1, num2)
  exponentiate(num1, num2)

In [ ]:
num1 = int(input("please enter a number: "))
num2 = int(input("please enter another number: "))
calculate(num1, num2)
#print out all calculations for 2 numbers

please enter a number: 3
please enter another number: 4
Addition: 3 + 4 = 7
Subtraction: 3 - 4 = -1
Division: 3 / 4 = 0.75
Multiplication: 3 * 4 = 12
Exponentiation: 3 ^ 4 = 81