<a href="https://colab.research.google.com/github/dareaus/TTP23/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

In [83]:
print("hi there")
#use the print() method to print "hi there" to the user

hi there

In [84]:
print("there are two types of slashes:\\ and /")
#\ is an esape character so only one is printed

there are two types of slashes:\ and /

In [85]:
print("\n\tthis is a tabbled line\nthis is a regular line")
#\n is new line, \t is indent

	this is a tabbled line
this is a regular line

In [86]:
print("first name" + " last name")
#+ lets you combine strings

first name last name

#Variables

In [87]:
dogs = 3
cats = "many fluffy cats"
#no type declaration is needed

In [88]:
dogs
#output value of dogs

3

In [89]:
cats
#output value of cats

'many fluffy cats'

In [90]:
type(dogs)
#type of dogs is int

int

In [91]:
type(cats)
#type of cats is string

str

In [92]:
hi = "hello"
name = " john"
print(hi + name)
#different types cannot be concatenated

hello john

In [93]:
moreDogs = 5
print(dogs + moreDogs)
#int variables can be added

8

In [94]:
price = 19.99
amount = 3

In [95]:
print(price * amount)
#int variables can have math operations done on them

59.97

In [96]:
#Variable Re-assignment
dogs = "new value"
print(dogs)
#variables can be re-assigned with different types

new value

In [97]:
cats, dogs, rabbits = 2, 5, 'cute'
#multiple variables can be assigned at once

In [98]:
print(dogs)
#print dogs

5

#More Strings

##Indexing

In [99]:
greeting = 'hello world!'
#assign string to greeting

In [100]:
greeting
#print string in greeting

'hello world!'

In [101]:
print(greeting[4])
#print 5th character in greeting

o

In [102]:
newString = 'this is a sentence'
print(newString[3])
print(newString[5])
#print characters 4 and 6

s
i

In [103]:
len(greeting)
#get length of string

12

In [104]:
greeting[11]
#get last character in greeting

'!'

In [105]:
greeting[-1]
#get last character in greeting

'!'

##String Formatting

In [106]:
price = 59.99
#set int to price

In [107]:
message = 'the product costs ' + str(price) + ' dollars'
#convert price from int to string to concatenate

In [108]:
message
#print message

'the product costs 59.99 dollars'

###the .format() method

In [109]:
msg = 'the product costs {} dollars'.format(price)
#puts price into {}

In [110]:
msg
#print msg

'the product costs 59.99 dollars'

In [111]:
msg2 = 'for {} products at the price of {}, the total will be: {}'
#multiple {} can be used

In [112]:
amount = 3
total = amount * price
#set amount and total variables

In [113]:
print(msg2.format(amount, price, total))
#print msg2 with the 3 variables, shows them in order

for 3 products at the price of 59.99, the total will be: 179.97

In [114]:
msg3 = 'for {2} products at the price of {0}. the total is {1}'
#assign the order for msg3

In [115]:
print(msg3.format(price, total, amount))
#print msg3

for 3 products at the price of 59.99. the total is 179.97

###the f-string method

In [116]:
price = 19.99
items = 3
#assign ints to price and items

In [117]:
msg = f'this individual product is {price}'
#alternative format for {}

In [118]:
msg
#print msg

'this individual product is 19.99'

In [119]:
msg2 = f"the total for your purchase is {price * items}"
#multiple {} for alternative format

In [120]:
msg2
#print msg2

'the total for your purchase is 59.97'

###string functions

In [121]:
dir(msg)
#show available functions for objects

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [122]:
msg
#print msg

'this individual product is 19.99'

In [123]:
msg = "hello my name is Bob"
#reassign msg

In [124]:
words = msg.split(" ")
#split string in array with the separator

In [125]:
print(words)
#print words

['hello', 'my', 'name', 'is', 'Bob']

In [126]:
elements = msg.split("e")
#split message every e

In [127]:
print(elements)
#print elements

['h', 'llo my nam', ' is Bob']

In [128]:
print(msg.upper())
#print everything uppercase

HELLO MY NAME IS BOB

In [129]:
print(msg.lower())
#print everything lowercase

hello my name is bob

###the input() method

In [130]:
#data = input('what is your name: ')
#print(f'Hello {data}')
#assign input and print hello with the input

what is your name: Bob
Hello Bob

In [131]:
#type(data)
#input() gives a string

str

In [132]:
#print(data)
#print data

Bob

In [133]:
#num = int(input('enter a number: '))
#print(num)
#typecast input to int

enter a number: 23
23

In [134]:
#type(num)
#print type of num

int

In [135]:
#Greeting page with a script
#name = input('Hey, what is your name? ')
#age = input('How old are you? ')
#hobby = input('What is your favorite hobby? ')
#print(f'Hello {name}, I see that you are {age} years old and you like {hobby}')

Hey, what is your name? Bob
How old are you? 23
What is your favorite hobby? reading
Hello Bob, I see that you are 23 years old and you like reading

#Numbers

In [136]:
cats = 7
money = -35.5
x = 2+5j
message = "hello alice!"
#asssign variables

In [137]:
print (type(cats))
print (type(money))
print (type(x))
print (type(message))
#print types

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

##Conversions

In [138]:
value = 3.5
convert = int(value)
print(convert)
print(type(convert))
#int loses decimal

3
<class 'int'>

In [139]:
num = int('25')
print(num)
print(type(num))
#print num and type of num

25
<class 'int'>

In [140]:
num2 = 'twenty'
print(len(num2))
#print length of num2

6

##Operations

###modulus operator

In [141]:
print(259/4)
#print 259/4

64.75

In [142]:
print (259%4)
#print remainder of 259/4

3

###power operator

In [143]:
print(9**4)
#print 9 to the fourth power

6561

###floor operator

In [144]:
print(13//4)
#rounds down to nearest whole number

3

###assignment operators

In [145]:
x = 9
#assign 9 to x

In [146]:
x += 1
x -= 1
x *= 1
x /= 1
#same thing as x = x operator 1

In [147]:
num1 = 2
num2 = 3
print(str(num1+num2))

5

###comparison operators

In [148]:
x, y = 9, 25
#assign ints to x and y

In [149]:
print (x == y)
#print if x equals y

False

In [150]:
print (x != y)
#print if x is not equal to y

True

In [152]:
print ((x>y),(x<y),(x>=y),(x<=y))
#print greater than, less than, greater than or equal to, less than or equal to

False True False True

###logical operators

In [154]:
x, y = 9, 25
#assign ints to x and y

In [155]:
print (x > 5 and y < 30)
#true if both are true

True

In [156]:
print ( x > 5 or y > 30)
#false if both are false

True

In [158]:
print(not(x>5))
#gives the opposite

False

In [160]:
print("cat" is "cat")
#same as
print("cat" == "cat")

True
True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-160-ea7333730169>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("cat" is "cat")

In [161]:
fruit = "banana"
print("na" in fruit)
print("na" not in fruit)
#prints if something is in another container

True
False

#Collection Data Types

##Lists

In [162]:
numbers = [3, 7, 5, 4, 6, 4, 3, 3]
print (numbers)
print(numbers[1])
print(numbers[-1])
#list of numbers
#print list, second, and last element

[3, 7, 5, 4, 6, 4, 3, 3]
7
3

In [165]:
names = ["alice", "bob", "carol", "dean"]
print(names[0])
print(names[1])
#list of string
#print first and second string

alice
bob

In [164]:
print(names[0][1])
#print second character or first string

l

In [167]:
print(names[1:3])
#print index 1 and 2
#does not include number after :

['bob', 'carol']

In [168]:
print(names[0:])
#prints everything after number before :

['alice', 'bob', 'carol', 'dean']

In [169]:
names[1] = 'billy'
print(names)
#strings are immutable, so string[2] would not work
#lists are immutable, so names[1] = 'billy' would

['alice', 'billy', 'carol', 'dean']

In [173]:
list = []
for x in range(10):
    #list.append(input(f"Enter item {x+1}: "))
    list.append(x)
print(list)
#asks user for 10 items and prints a list of them out

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
5